---
import BaseLayout from '../layouts/BaseLayout.astro'
import Blogpost from '../components/Blogpost.astro'
const blogHeader = 'Blogs'
const blogTitle: string = 'My Astro Learning Blog'
const blogs = Object.values(import.meta.glob('./posts/*.md', { eager: true }))
---

<BaseLayout pageTitle={blogHeader} mainTitle={blogTitle}>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
        { blogs && blogs.map((post: any) => (
            <Blogpost title={ post.frontmatter.title } url={ post.url } />
        )) }
    </ul>
</BaseLayout>
 