---
import BaseLayout from "../layouts/BaseLayout.astro"
const title = 'Home Page';
const mainTitle = 'Welcome to my Astro Blog!'
---

<BaseLayout pageTitle={title} mainTitle={mainTitle}>
	<h2>My awesome subtitle</h2>
</BaseLayout>
